/* $Id: views_custom_map.css 92 2009-04-03 01:09:28Z jhedstrom $ */

.views-custom-map-map {
  position: relative;
}

.views-custom-map .popup {
  z-index: 1;
  display: none;
  position: absolute;
  left: -43px;
  bottom: 50%;
  font-size: 11px;
  background: #fff;
  padding: 0 4px 10px 4px;
  width: 100px;
}

.views-custom-map-map .item-list ul, .views-custom-map-map .item-list li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a.views-custom-map-point { 
  position: absolute;
  width: 10px;
  height: 10px;
  display: block;
  text-decoration: none;
}

a.views-custom-map-point:hover .popup {
  display: block;
  
}