/**
 * @file
 * S4RS Kiosk panels layout Admin CSS.
 */

.kiosk-layout-content-header {
  margin-bottom: 1%;
}

.kiosk-layout-content-prefix {
  margin-bottom: 1%;
}

.kiosk-layout-column {
  float: left;
  margin-right: 1%;
  width: 49%;
}

.kiosk-layout-main-content {
  margin-bottom: 1%;
}

.kiosk-layout-column-right {
  margin-right: 0;
}

.kiosk-layout-content-suffix {
  margin-top: 1%;
}

.kiosk-layout-content-footer {
  margin-top: 1%;
}
